<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/chat.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap" />
  <title>Vimar GENIALE</title>
</head>

<body>
  <nav class="navbar">
    <div class="section">
      <button>Conversazione Libera</button>
      <button>Conversazione Guidata</button>
    </div>
    <div class="section">
      <h2>Conversazioni</h2>
      <ul>
        <li>Conversazione 1</li>
        <li>Conversazione 2</li>
        <li>Conversazione 3</li>
      </ul>
    </div>
    <div class="section">
      <h2>Admin</h2>
      <button>Area Riservata</button>
    </div>
  </nav>

  <div class="container">
    <h1>Vimar GENIALE</h1>

    <div class="conversation-section">
      <div class="conversation">
        <div class="user-message">
          <p>Utente: Ciao, come posso aiutarti oggi?</p>
        </div>
        <div class="site-response">
          <p>Sito: Benvenuto! Come posso assisterti?</p>
        </div>
      </div>
    </div>

    <div class="messagebar">
      <div class="bar-wrapper">
        <input type="text" placeholder="Inserisci il messaggio...">
        <button>
          <span class="material-symbols-outlined">send</span>
        </button>
      </div>
    </div>

  </div>

  <script src="chat.js"></script>
</body>

</html>